@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Quicksand&display=swap');

:root {
  --rainbow-gradient-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  --cr-yellow: #FFED85;
  --rose-fuschia: #BF4371;
  --navy-purple: #524D94;
}

* {
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: rgb(40, 18, 51);
  color: rgb(224, 224, 224);
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
  animation: 1s ease-out 0s 1 appear;
}

#test {
  color: white
}


.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.align-self-end {
  align-self: end;
}

.home {
  gap: 16px;
  width: 60%;
}

.button {
  background-color: gold;
  padding: 6px;
  border: 5px solid transparent;
  border-radius: 5px;
  margin: 3px;
  min-width: 120px;
  min-height: 55px;
}

.button:active {
  background-color: rgb(84, 184, 184) !important;
  transition: 0s!important;
}

.card-button:hover, .button:hover{
  background-color: var(--rose-fuschia);
  box-shadow: 0 0 4px 4px rgb(250, 84, 175);
  transition: 0.7s;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.home-button {
  top: 0;
  background-color: gold;
  min-height: 100px;
  min-width: 150px;
  font-size: 20px;
  margin: 0 !important;
  width: auto;
  border-radius: 0px;
  flex: 1;
}

.signout-button {
  top: 0;
  background-color: gold;
  min-height: 100px;
  min-width: 150px;
  font-size: 20px;
  margin: 0 !important;
  width: auto;
  border-radius: 0px;
  flex: 1;
}

.card-button {
  overflow-wrap: break-word;
  width: 100%;
  border: 5px solid transparent;
  margin: 2px 0px 2px 0px;
  background-color: #331C34;
  color:rgb(219, 219, 219)
}

.form{
  margin: 6px;
}

.form div {
  margin: 12px 0px 12px 0px;
}
.form-input-box {
  width: 95%;
  min-height: 24px;
  border: 1px solid purple;
  border-radius: 12px;
  padding: 6px;
  background-color: rgb(51, 51, 51);
  color: rgb(219, 219, 219)
}

.form-input-box:focus {
  outline: none;
  border: 1px solid var(--rose-fuschia);
  box-shadow: 0 0 10px var(--rose-fuschia);
}

.main-app {
  display: flex;
  flex-direction: column;

}

.container-card {
  background-color: var(--navy-purple);
  width: 70%;
  padding: 16px;
  border: 5px solid;
  border-image: var(--rainbow-gradient-image);
  border-image-slice: 1;
  border-radius: 2px;
  margin: 24px;
  box-shadow: 8px 8px 4px 3px rgb(75, 47, 75);
  animation: 0.75s ease-out 0s 0.75 appear;
}
.login-page {
  width: 40%;
  box-shadow: 8px 8px 4px 3px rgb(37, 28, 37);
}
.login-page-container {
  height: 100vh;
  width: 100vw;
  background-image: url('https://images.unsplash.com/photo-1566737236500-c8ac43014a67?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  background-position: center;
  
}

.list {
  margin-bottom: 12px;
}


@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .home {width: 90% }
  .container-card {width: 80%}
}