@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Quicksand&display=swap');
* {
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: white;
  color: black;
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
}

#test {
  color: white
}

.button {
  background-color: gold;
  padding: 6px;
  border: rgb(1, 43, 1);
  border-radius: 12px;
}
.button:hover{
  background-color: blue;
  transition: 0.7s;
}

.home-button {
  position: sticky;
  top: 0;
  background-color: gold;
  min-height: 100px;
  min-width: 150px;
  font-size: 20px;
  width: 100%;
  border-radius: 0px;
  flex: 1;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.home {
  gap: 16px;
}

.form{
  margin: 6px;
}

.main-app {
  display: flex;
  flex-direction: column;

}

.total-activity-display {

}

.activity-info {

}

.container-card {
  background-color: cornsilk;
  padding: 16px;
  border: solid rgb(125, 163, 199);
  border-radius: 12px;
  gap: 6px;
  box-shadow: 6px 6px 2px 3px rgb(207, 207, 207);
}
